# Byte compiled
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/

# OS files
.DS_Store

# Pytest cache
.pytest_cache/

# .gitignore
.streamlit/secrets.toml
data/tracks_features.csv
